.artist-detail {
  margin: 30px;
  &-desc {
    margin-bottom: 20px;
  }

  &-song-list {
    table {
      width: 640px;
      border-collapse: collapse;
      tbody tr {
        height: 30px;
        &:nth-child(odd) {
          background-color: #f7f7f7
        }
        td {
          padding: 0 10px;
          white-space: nowrap;
          overflow:hidden;
        }
        td:first-child {
          min-width: 40px;
          text-align: center;
        }
      }
    }
  }
}